img{width: 100%;
border-radius: 50px;}

body{
    background-color: black;
}

h1{
    color: chartreuse;
}

.sanchez{
    color: rgb(0, 238, 247);
}

.neto{
    color: chartreuse;
}

.neitor{
    color: rgb(0, 235, 243);
}

.niro{
    color: rgb(136, 255, 0);
}

.dog{
    color: rgb(0, 255, 255);
}