h1 {
  color: blueviolet;
}

body {
  background-color: black;
}

.autor {
  color: rgb(186, 226, 43);
}

.autor2 {
  border-radius: 30px;
  border: 1px solid red;
}

a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #333;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 30px;
  
}

a span {
  position: relative;
  z-index: 2;
}

a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00aeff;
  transition: all .35s;
  border-radius: 30px;

}

a:hover {
  color: #fff;
}

a:hover:after {
  width: 100%;
}

.sobre{
  color: red;
}