h1{
 color: rgb(255, 255, 255);
}

body{
     background-color: #000000;
}

a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: hwb(0 0% 0%);
    transition: all .35s;
    border-radius: 30pc;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }

  .demon{
    color: #fff;
  }

  .back{
    color: #fff;
    border-radius: 30pc;
  }

  .sukus{
    width: 400px;
    border-radius: 30pc;
  }

  .yiper{
    color: #fff;
    border-radius: 30pc;
  }

  